.formacao{
    background: #141414;
    color: #ffffff;
}

.formacao-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}
.formacao .subtitulo{
    color: #000000;
}

.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.fomracao-texto strong{
    color: #ffffff;
}

.faculdade-lista{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin: 15px;
    background: #000000;
    border-radius: 15px;
}

.faculdade:last-child{
    height: 100%;
}

.formacao-faculdade{
    display: flex;
    flex-grow: 7;
}
.faculdade-tipo{
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 20px;
}

.faculdade-curso{
    flex: 1;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
}
.faculdade-nome{
    align-self: center;
}

.cursos{
    margin-bottom: 60px;
}

.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    margin-top: 10px;
}

.formacao-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/cursos.svg) no-repeat center center;
    position: absolute;
    left: -36px;
    top: -5px;
}

.idiomas h3::before{
    background: url(../img/idiomas.svg) no-repeat center center;

}


.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

@media (max-width:800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo{
        color: #ffffff;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
}